<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset = "utf-8">
        <title>
            Гімн
        </title>
    </head>
    <body>
        <img class = "bottomright"src = "Mykhailo.jpg"
        <main>
            <h1> 
                Гімн України
            </h1>
            <p class = "blocktext"><i>Ще не вмерла України і слава, і воля.</i></p>
            <p class = "blocktext"><i>Ще нам, браття молодії, усміхнеться доля.</i><p>
            <p class = "blocktext"><i>Згинуть наші воріженьки, як роса на сонці,</i><p>
            <p class = "blocktext"><i>Запануєм і ми, браття, у своїй сторонці.</i><p>
            <p class = "blocktext"><i>Душу й тіло ми положим за нашу свободу,</i><p>
            <p class = "blocktext"><i>І покажем, що ми, браття, козацького роду.</i><p>
            
        </main>
    </body>
</html>