<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>
      Головна сторінка
    </title>
  </head>
  <body>
    <header>
      <img src="{{ url_for('static', filename = 'images/2.jpg') }}" width="100%" height="100 px">
      <h1>Вітаю на моєму патріотичному сайті!</h1>
      <p> Хочу розповісти про наші чарівні міста та хочу показати красиво оформленний гімн </p>
      <p> Нижче ви можете найти посилання на сайти <p>
      <p> Та посилання на сайт з гімном нашою країни </p>
      <ul>
        <li><a href = "http://127.0.0.1:5000/sityes"> Міста країни </a> </li>
        <li><a href = "http://127.0.0.1:5000/himn"> Гімн </a> </li>
      </ul>
    </header>
    <main>
    </main>
    <footer>
    </footer>
  </body>
</html>
